header {
    display: flex;
    align-items: center;
    min-height: 8%;
    justify-content: right;
    padding-right: 10%;
    background-color: #626262;
    color: #d5d5d5;
    font-size: 18px;
}

div.search {
    max-width: 25%;
}

    div.search div.form-outline input, div.search div.form-outline label {
        color: #d0d0d0 !important;
    }

div.header-title {
    margin-right: 50%;
    font-weight: bold;
}

input#searchForm {
    background-color: #efefef;
}

main {
    min-height: 82%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(175, 110, 56) 0%, rgb(138, 46, 46) 90% );
}

main table {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

tr.answer-row {
    max-width: 80%; !important;
    border-left: 1px #f29263 solid;
    border-right: 1px #f29263 solid;
}

.table-th {
    user-select: none;
}

.table-th:hover {
    color: rgb(255, 116, 0);
    cursor: pointer;
}