body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-content {
    width: 30%;
    margin-top: 4%;
}

.start-logo {
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    left: 15px;
    top: 10px;
    color: black;
}