header {
    display: flex;
    align-items: center;
    min-height: 8%;
    justify-content: right;
    padding-right: 10%;
    background-color: #626262;
    color: #d5d5d5;
    font-size: 18px;
}

div.search {
    max-width: 25%;
}

    div.search div.form-outline input, div.search div.form-outline label {
        color: #d0d0d0 !important;
    }

div.timer {
    max-width: 25%;
}

.header h5 {
    font-weight: bold;
    margin: 0;
    padding-right: 1%;
}

div.header-title {
    margin-right: 40%;
    font-weight: bold;
}

div.header-date {
    margin-right: 5%;
    font-size: 15px;
}

div.header-select-subject {
    margin-right: 3%;
    min-width: 15%;
}

div.header-select-sort {
    margin-right: 28%;
    min-width: 15%;
}

header form {
    margin: 0;
}

input#searchForm {
    background-color: #efefef;
}

main table {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*----------------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 74%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}

nav.pagination-nav {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

ul.pagination li a{
    color: black;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    border-radius: 0;
    background: radial-gradient( circle farthest-corner at 10% 20%, rgb(180, 166, 74) 0%, rgb(148, 97, 66) 90% );
    text-decoration: none;
}

    ul.pagination li a:hover{
        color: white;
        border-color: #3db98d;
    }

    ul.pagination li a:focus, ul.pagination li a:active{
        color: white;
        border-color: #3db98d;
    }

.table-th {
    user-select: none;
}

    .table-th:hover {
        color: rgb(255, 116, 0);
        cursor: pointer;
    }

div.test-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    min-height: 50px;
}

    div.test-title h3 {
        margin-bottom: 0;
    }

div.test {
    margin: 5%;
    min-width: 50%;
    color: #a9a9a9;
}

    div.test-question {
        border-radius: 10px;
        padding: 4%;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    }

    div.form-answer {
        margin-left: 3%;
    }

.test hr {
    margin: 4%;
    color: black;
}

.form-check-input[type=radio],
.form-check-input[type=radio]:before,
.form-check-input[type=radio]:after,
.form-check-input[type=radio]:checked {
    background-color: black;
}

.form-check-input[type=checkbox],
.form-check-input[type=checkbox]:before,
.form-check-input[type=checkbox]:after,
.form-check-input[type=checkbox]:checked {
    background-color: black;
}