header {
    max-height: 10%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    min-height: 100%;
}

/* --------------------------Main content--------------------------- */

div.timeoutInfo {
    width: 500px;
    margin: 3% auto 1% auto;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #ffc107;
    border: 1px #f29263 solid;
    color: black;
    text-align: center;
}

    .timeoutInfo button {
        position: absolute;
        border: 0;
        background: 0;
        left: 65.5%;
        top: 15.5%;
    }

    .timeoutInfo-title {
        padding: 10px;
    }

    .timeoutInfo-description {
        padding: 20px 0 10px 0;
    }

div.result-window {
    width: 750px;
    margin: 3% auto 3% auto;
    padding: 2%;
    border-radius: 10px;
    color: #d9d9d9;
    font-size: 18px;
}

    div.result-window div {
        padding: 2%;
        background-color: #464646;
        border-radius: 10px;
        margin: 1%;
    }

    div.description {
    }

    div.buttons {
        display: flex;
        align-items: center;
        background-color: rgba(0,0,0,0) !important;
        padding: 0 !important;
    }

    div.buttons form {
        min-height: 50px;
        width: 50%;
        margin: 2% 1% 0 1%;
    }

    div.buttons button {
        font-weight: bold;
        min-height: 50px;
        width: 100%;
        border-radius: 10px;
        background-color: darkolivegreen;
        background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(166, 117, 80) 0%, rgb(103, 161, 91) 90% );
    }

/* ----------------------------------------------------------------- */

footer {
    max-height: 10%;
}